
.icon-down-open:before { content: '\e800'; } /* '' */
.icon-star-filled:before { content: '\e801'; } /* '' */
.icon-basket:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */